In [1]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\adil\anaconda3\lib\site-packages (0.18.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: scipy>=1.2.1 in c:\users\adil\anaconda3\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\adil\anaconda3\lib\site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\adil\anaconda3\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: setuptools in c:\users\adil\anaconda3\lib\site-packages (from mlxtend) (50.3.1.post20201107)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\adil\anaconda3\lib\site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\adil\anaconda3\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\adil\anaconda3\lib\site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\adil\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\adil\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\adil\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\adil\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: pillow>=6.2.0 in c:\users\adil\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\adil\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)

Requirement already satisfied: cycler>=0.10 in c:\users\adil\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\adil\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: six>=1.5 in c:\users\adil\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->mlxtend) (1.15.0)

In [2]:
from mlxtend.frequent_patterns import apriori

In [3]:
dataset = [['Drink', 'Nuts', 'Diaper'],
          ['Drink', 'Coffee', 'Diaper'],
          ['Drink', 'Diaper', 'Eggs'],
          ['Nuts', 'Eggs', 'Milk'],
          ['Nuts', 'coffee', 'Diaper', 'Eggs', 'Milk']]

In [4]:
dataset

[['Drink', 'Nuts', 'Diaper'],
 ['Drink', 'Coffee', 'Diaper'],
 ['Drink', 'Diaper', 'Eggs'],
 ['Nuts', 'Eggs', 'Milk'],
 ['Nuts', 'coffee', 'Diaper', 'Eggs', 'Milk']]

In [9]:
import pandas as pd

from  mlxtend.preprocessing import TransactionEncoder

TranEncode = TransactionEncoder()

te_ary = TranEncode.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=TranEncode.columns_)

In [10]:
df

   Coffee  Diaper  Drink   Eggs   Milk   Nuts  coffee
0   False    True   True  False  False   True   False
1    True    True   True  False  False  False   False
2   False    True   True   True  False  False   False
3   False   False  False   True   True   True   False
4   False    True  False   True   True   True    True

In [15]:
apriori(df, min_support=0.6)

   support itemsets
0      0.8      (1)
1      0.6      (2)
2      0.6      (3)
3      0.6      (5)
4      0.6   (1, 2)

In [16]:
apriori(df, min_support=0.2)

    support         itemsets
0       0.2              (0)
1       0.8              (1)
2       0.6              (2)
3       0.6              (3)
4       0.4              (4)
5       0.6              (5)
6       0.2              (6)
7       0.2           (0, 1)
8       0.2           (0, 2)
9       0.6           (1, 2)
10      0.4           (1, 3)
11      0.2           (1, 4)
12      0.4           (1, 5)
13      0.2           (1, 6)
14      0.2           (2, 3)
15      0.2           (2, 5)
16      0.4           (3, 4)
17      0.4           (3, 5)
18      0.2           (3, 6)
19      0.4           (4, 5)
20      0.2           (4, 6)
21      0.2           (5, 6)
22      0.2        (0, 1, 2)
23      0.2        (1, 2, 3)
24      0.2        (1, 2, 5)
25      0.2        (1, 3, 4)
26      0.2        (1, 3, 5)
27      0.2        (1, 3, 6)
28      0.2        (1, 4, 5)
29      0.2        (1, 4, 6)
30      0.2        (1, 5, 6)
31      0.4        (3, 4, 5)
32      0.2        (3, 4, 6)
33      0.2        (3, 5, 6)
34      0.2        (4, 5, 6)
35      0.2     (1, 3, 4, 5)
36      0.2     (1, 3, 4, 6)
37      0.2     (1, 3, 5, 6)
38      0.2     (1, 4, 5, 6)
39      0.2     (3, 4, 5, 6)
40      0.2  (1, 3, 4, 5, 6)

In [13]:
apriori(df, min_support=0.6, use_colnames=True)

   support         itemsets
0      0.8         (Diaper)
1      0.6          (Drink)
2      0.6           (Eggs)
3      0.6           (Nuts)
4      0.6  (Drink, Diaper)

In [19]:
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                            itemsets  length
0       0.2                            (Coffee)       1
1       0.8                            (Diaper)       1
2       0.6                             (Drink)       1
3       0.6                              (Eggs)       1
4       0.4                              (Milk)       1
5       0.6                              (Nuts)       1
6       0.2                            (coffee)       1
7       0.2                    (Coffee, Diaper)       2
8       0.2                     (Drink, Coffee)       2
9       0.6                     (Drink, Diaper)       2
10      0.4                      (Eggs, Diaper)       2
11      0.2                      (Milk, Diaper)       2
12      0.4                      (Diaper, Nuts)       2
13      0.2                    (coffee, Diaper)       2
14      0.2                       (Drink, Eggs)       2
15      0.2                       (Drink, Nuts)       2
16      0.4                        (Milk, Eggs)       2
17      0.4                        (Eggs, Nuts)       2
18      0.2                      (coffee, Eggs)       2
19      0.4                        (Milk, Nuts)       2
20      0.2                      (Milk, coffee)       2
21      0.2                      (coffee, Nuts)       2
22      0.2             (Drink, Coffee, Diaper)       3
23      0.2               (Drink, Eggs, Diaper)       3
24      0.2               (Drink, Diaper, Nuts)       3
25      0.2                (Milk, Eggs, Diaper)       3
26      0.2                (Eggs, Diaper, Nuts)       3
27      0.2              (coffee, Eggs, Diaper)       3
28      0.2                (Milk, Diaper, Nuts)       3
29      0.2              (Milk, coffee, Diaper)       3
30      0.2              (coffee, Diaper, Nuts)       3
31      0.4                  (Milk, Eggs, Nuts)       3
32      0.2                (Milk, Eggs, coffee)       3
33      0.2                (coffee, Eggs, Nuts)       3
34      0.2                (Milk, coffee, Nuts)       3
35      0.2          (Milk, Eggs, Diaper, Nuts)       4
36      0.2        (Milk, Eggs, Diaper, coffee)       4
37      0.2        (coffee, Eggs, Diaper, Nuts)       4
38      0.2        (Milk, coffee, Diaper, Nuts)       4
39      0.2          (coffee, Milk, Eggs, Nuts)       4
40      0.2  (Nuts, Milk, Eggs, Diaper, coffee)       5

In [20]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                 (frequent_itemsets['support'] >= 0.5)]

   support         itemsets  length
9      0.6  (Drink, Diaper)       2

In [21]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Diaper', 'Drink'} ]

   support         itemsets  length
9      0.6  (Drink, Diaper)       2

In [27]:
x = frequent_itemsets['itemsets'] == {'Diaper', 'Drink'} 
print(x)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
Name: itemsets, dtype: bool

In [25]:
x = frequent_itemsets[ frequent_itemsets['itemsets'] == {'Nuts'} ]
print(x['support'])

5    0.6
Name: support, dtype: float64

In [29]:
from mlxtend.frequent_patterns import association_rules

association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Coffee),(Diaper),0.2,0.8,0.2,1.00,1.250000,0.04,inf
1,(Coffee),(Drink),0.2,0.6,0.2,1.00,1.666667,0.08,inf
2,(Drink),(Diaper),0.6,0.8,0.6,1.00,1.250000,0.12,inf
3,(Diaper),(Drink),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
4,(coffee),(Diaper),0.2,0.8,0.2,1.00,1.250000,0.04,inf
...,...,...,...,...,...,...,...,...,...
92,"(Milk, Diaper)","(coffee, Eggs, Nuts)",0.2,0.2,0.2,1.00,5.000000,0.16,inf
93,"(Milk, coffee)","(Eggs, Diaper, Nuts)",0.2,0.2,0.2,1.00,5.000000,0.16,inf
94,"(coffee, Eggs)","(Milk, Diaper, Nuts)",0.2,0.2,0.2,1.00,5.000000,0.16,inf
95,"(coffee, Diaper)","(Milk, Eggs, Nuts)",0.2,0.4,0.2,1.00,2.500000,0.12,inf
96,(coffee),"(Milk, Eggs, Diaper, Nuts)",0.2,0.2,0.2,1.00,5.000000,0.16,inf